

.hermes-container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(lightblue, lightgrey);
}

.gif {
    margin: 0 auto;
    
    box-shadow: 10px 8px black; 
}

.title{
    font-family: 'Roboto', sans-serif;
    text-align: center;


}