<div>
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Details</th>
                <th>Terminate</th>       
            </tr>
        </thead>    
            <tbody>
                <tr ng-repeat="employee in vm.employees">
                    <td>{{employee.employeeId}}</td>                    
                    <td>{{employee.firstName}} {{employee.lastName}}</td>
                    <td><button ng-click="">Details</button></td>
                    <td><button ng-click="">Terminate</button></td>    
                </tr>
            </tbody>   
    </table>            
</div>